@charset "UTF-8";

/* 回答はここに書いてね */
.text-align-box {
    text-align: center;
}

.text-align-box__text {
    display: inline-block;
    width: 90px;
    background-color: #e6f2ff;
    padding: 10px 0;
}

.margin-box {
    width: 90px;
    background-color: #e6f2ff;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

.table-box {
    display: table;
}

.table-box__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.table-box__inner-text {
    display: inline-block;    
    background-color: #fff;
    padding: 10px;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-box__text {
    padding: 10px;
    background-color: #fff;
}

.fixed-box {
    position: relative;
}

.fixed-box__text {
    height: 30px;
    width: 110px;
    font-size: 10px;    
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.variable-box {
    position: relative;
}

.variable-box__text {
    height: 30px; 
    width: 110px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */