@charset "UTF-8";

/* 回答はここに書いてね */
.large-box {
    line-height: 22px;
    width: 900px;
    padding: 20px;
    font-size: 18px;
    background-color: #eff3f4;
    word-break: break-all;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.top-img {
    float: left;
    margin: 0 20px 10px 0;
}

.bottom-img {
    float: right;
    margin: 0 0 10px 20px;
}
/* 回答はここに書いてね */
