@charset "UTF-8";

/* 回答はここに書いてね */
table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

th {
    line-height: 26px;
    font-size: 18px;
    padding: 10px 0;
    background-color: #24a;
    color: #fff;
    border: 1px solid #dedede;
}

td {
    line-height: 22px;
    font-size: 16px;
    padding: 10px 0;
    border: 1px solid #dedede;
}

tr td:first-child {
    line-height: 26px;
    font-size: 18px;
    color: #fff;
    background-color: #24a;    
}

tr:nth-child(2n+1) {
    background-color: #ecf1f2;
}


tr:last-child {
    border-top: 2px dashed #000;
}
/* 回答はここに書いてね */
